In [1]:
import folium
import requests
import pymysql
import pandas as pd

In [2]:
where_lh = pd.read_csv("./lh_df.csv")

In [3]:
where_ansim = pd.read_csv("./ansim_df.csv")

In [4]:
where_ansim.head(1)

,kindRental,adresGu,adresWay,scaleTot,kindHouse,totArea,publicmoneyRental,publicdepositMoney,privateMoneyDepositLow,privateMoneyDepositHigh,privateMoneyRentalLow,privateMoneyRentalHigh,x,y
0,청년안심,은평구,갈현동 456-25,163,아파트,17,290000,40000000,40000000,86000000,290000,530000,126.919071,37.617902

In [5]:
where_ansim[where_ansim['adresWay'].str.find('당산로 83') > -1]

,kindRental,adresGu,adresWay,scaleTot,kindHouse,totArea,publicmoneyRental,publicdepositMoney,privateMoneyDepositLow,privateMoneyDepositHigh,privateMoneyRentalLow,privateMoneyRentalHigh,x,y
14,청년안심,영등포구,당산로 83,496,아파트,17,310000,58000000,58000000,166000000,310000,710000,126.946069,37.358937

In [6]:
where_ansim[where_ansim['adresWay'].str.find('양화로72') > -1]

,kindRental,adresGu,adresWay,scaleTot,kindHouse,totArea,publicmoneyRental,publicdepositMoney,privateMoneyDepositLow,privateMoneyDepositHigh,privateMoneyRentalLow,privateMoneyRentalHigh,x,y
41,청년안심,마포구,양화로72,913,아파트,17,370000,61200000,61200000,137600000,370000,1120000,126.913874,37.39989

In [7]:
where_ansim[where_ansim['adresWay'].str.find('화곡로 146') > -1]

,kindRental,adresGu,adresWay,scaleTot,kindHouse,totArea,publicmoneyRental,publicdepositMoney,privateMoneyDepositLow,privateMoneyDepositHigh,privateMoneyRentalLow,privateMoneyRentalHigh,x,y
27,청년안심,강서구,화곡로 146,82,아파트,20,80000,50000000,50000000,200000000,80000,710000,127.185938,37.154999

In [8]:
where_ansim.loc[14,'x']='126.8982447'
where_ansim.loc[14,'y']='37.5251247'
where_ansim.loc[41,'x']='126.9167221'
where_ansim.loc[41,'y']='37.5507977'
where_ansim.loc[27,'x']='126.837949'
where_ansim.loc[27,'y']='37.5406894'

/tmp/ipykernel_24782/655268904.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '126.8982447' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  where_ansim.loc[14,'x']='126.8982447'
/tmp/ipykernel_24782/655268904.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '37.5251247' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  where_ansim.loc[14,'y']='37.5251247'

In [9]:
where_lh

,kindRental,adresGu,adresWay,scaleTot,kindHouse,totArea,depositMoney,rentalMoney,x,y
0,매입임대,종로구,서울특별시 종로구 난계로29길 13,103,오피스텔,23,2000000,383117,127.022333,37.574291
1,매입임대,종로구,서울특별시 종로구 대학로5가길 15,1,다세대주택,27,3128000,109040,127.001453,37.578693
2,매입임대,종로구,서울특별시 종로구 대학로9가길 9-8,5,다가구주택,37,4275000,149350,126.999888,37.581320
3,매입임대,종로구,서울특별시 종로구 사직로1가길 4-1,11,다가구주택,26,10465000,87160,126.962993,37.572882
4,매입임대,종로구,서울특별시 종로구 세검정로7가길 18,13,다가구주택,27,3162666,133956,126.958968,37.602347
...,...,...,...,...,...,...,...,...,...,...
3335,행복주택,송파구,서울특별시 송파구 토성로6길 4,8,다세대주택,19,57060000,185500,127.112709,37.530380
3336,행복주택,강동구,서울특별시 강동구 고덕로97길 100,346,아파트,29,59860000,234250,127.179996,37.562693
3337,행복주택,강동구,서울특별시 강동구 고덕로98길 101,600,아파트,26,76558571,265300,127.180679,37.553541
3338,행복주택,강동구,서울특별시 강동구 고덕로98길 160,353,아파트,28,80880000,282333,127.180175,37.551763
3339,행복주택,강동구,서울특별시 강동구 상일로12길 95,15,아파트,31,71026666,230666,127.172406,37.556359

In [10]:
where_lh.drop(['depositMoney','rentalMoney'],axis=True, inplace=True)

In [11]:
where_lh

,kindRental,adresGu,adresWay,scaleTot,kindHouse,totArea,x,y
0,매입임대,종로구,서울특별시 종로구 난계로29길 13,103,오피스텔,23,127.022333,37.574291
1,매입임대,종로구,서울특별시 종로구 대학로5가길 15,1,다세대주택,27,127.001453,37.578693
2,매입임대,종로구,서울특별시 종로구 대학로9가길 9-8,5,다가구주택,37,126.999888,37.581320
3,매입임대,종로구,서울특별시 종로구 사직로1가길 4-1,11,다가구주택,26,126.962993,37.572882
4,매입임대,종로구,서울특별시 종로구 세검정로7가길 18,13,다가구주택,27,126.958968,37.602347
...,...,...,...,...,...,...,...,...
3335,행복주택,송파구,서울특별시 송파구 토성로6길 4,8,다세대주택,19,127.112709,37.530380
3336,행복주택,강동구,서울특별시 강동구 고덕로97길 100,346,아파트,29,127.179996,37.562693
3337,행복주택,강동구,서울특별시 강동구 고덕로98길 101,600,아파트,26,127.180679,37.553541
3338,행복주택,강동구,서울특별시 강동구 고덕로98길 160,353,아파트,28,127.180175,37.551763
3339,행복주택,강동구,서울특별시 강동구 상일로12길 95,15,아파트,31,127.172406,37.556359

In [12]:
where_hang = where_lh[where_lh['kindRental'] != '매입임대']

In [13]:
where_hang

,kindRental,adresGu,adresWay,scaleTot,kindHouse,totArea,x,y
3228,행복주택,종로구,서울특별시 종로구 송월길 130,188,아파트,39,126.964496,37.572237
3229,행복주택,종로구,서울특별시 종로구 지봉로 37-29,17,다세대주택,15,127.015200,37.573843
3230,행복주택,중구,서울특별시 중구 만리재로 175,36,아파트,39,126.965023,37.554300
3231,행복주택,용산구,서울특별시 용산구 백범로 313,25,아파트,38,126.963097,37.539319
3232,행복주택,용산구,서울특별시 용산구 효창원로 227,15,아파트,39,126.963049,37.547226
...,...,...,...,...,...,...,...,...
3335,행복주택,송파구,서울특별시 송파구 토성로6길 4,8,다세대주택,19,127.112709,37.530380
3336,행복주택,강동구,서울특별시 강동구 고덕로97길 100,346,아파트,29,127.179996,37.562693
3337,행복주택,강동구,서울특별시 강동구 고덕로98길 101,600,아파트,26,127.180679,37.553541
3338,행복주택,강동구,서울특별시 강동구 고덕로98길 160,353,아파트,28,127.180175,37.551763
3339,행복주택,강동구,서울특별시 강동구 상일로12길 95,15,아파트,31,127.172406,37.556359

In [14]:
where_ansim.drop(['publicmoneyRental','publicdepositMoney','privateMoneyDepositLow','privateMoneyDepositHigh',\
                  'privateMoneyRentalLow','privateMoneyRentalHigh'], axis=True, inplace=True)

In [15]:
where_all = pd.concat([where_hang,where_ansim])

In [16]:
popmap = folium.Map(location=[37.5502, 126.982], zoom_start=11, tiles="cartodb positron")

Marker(location = [row['위도'], row['경도']],
           popup=row['시설명'],
           icon=folium.Icon(color='blue',icon='star')
          ).add_to(m)

In [17]:
target =  where_all[['x', 'y', 'kindRental','adresWay','adresGu','kindHouse','totArea','scaleTot']].copy()

In [18]:
target['color'] =target.kindRental.apply(lambda x : 'red' if x =="매입임대" else ('blue' if x == "행복주택"  else 'orange')   )

In [19]:
popmap = folium.Map(location=[37.5502, 126.982], zoom_start=11, tiles="cartodb positron")
for idx, row in target.iterrows():
    folium.Marker([row.y, row.x],
                  popup=f"""<div style="white-space: nowrap;">주소: {row.adresWay}<br>주택 종류: {row.kindHouse}<br>면적: {row.totArea}<br>세대수: {row.scaleTot}</div>""",              
                  icon=folium.Icon(color=row.color, icon='star')
                 ).add_to(popmap)

In [23]:
popmap.save("./final.html")

SyntaxError: invalid syntax (3275718868.py, line 1)

In [ ]:
!pwd